
{% extends 'base-sub.html' %}

{% block header %}
  <h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}
    <div class="sub-card1">
        <h2>Add New Device</h2>
        <p>Use the form below to add a new device to the system:</p>
        <form>
            <label for="device_name">Device Name:</label>
            <input type="text" id="device_name" name="device_name" required><br><br>
            <label for="device_type">Device Type:</label>
            <select id="device_type" name="device_type" required>
                <option value="phone">Phone</option>
                <option value="laptop">Laptop</option>
                <option value="tablet">Tablet</option>
                <!-- Add more options as needed -->
            </select><br><br>
            <button type="submit" class="btn">Add Device</button>
        </form>
    </div>
{% endblock %}

{% block page_content_2 %}
    <div class="sub-card1">
        <h2>View Devices</h2>
        <p>View the list of devices currently registered in the system:</p>
        <div class="overlay" id="overlay"></div>
        <button onClick="GetAllScanners()">Get All Scanners</button>
        <br/>
        <table id='tab1' bgcolor='gray' border="1">
            <tr><td>Scanner ID</td><td>Scanner Type</td><td>Scanner Status</td></tr>
        </table>
    </div>
{% endblock %}