
{% extends 'base-sub.html' %}

{% block header %}
  <h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}
<div class="container">
    <div class="sub-card1">
        <h2 id="formTitle">Add New Device</h2>
        <p>Use the form below to add or update device information:</p>
        <form id="deviceForm" action="/api/add" method="POST">
            <input type="hidden" id="device_id" name="device_id">
            <label for="device_name">Device Name:</label><br>
            <input type="text" id="device_name" name="device_name" required><br><br>
            <label for="device_condition">Device Condition:</label><br>
            <select id="device_condition" name="device_condition" required>
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="faulty">Faulty</option>
            </select><br><br>
            <label for="device_serial">Device Serial Number:</label><br>
            <input type="text" id="device_serial" name="device_serial" required><br><br>
            <label for="device_MD">Device Manufactured Date:</label><br>
            <input type="date" id="device_MD" name="device_MD" required><br><br>
            <label for="device_type">Device Type:</label><br>
            <select id="device_type" name="device_type" required>
                <option value="phone">Phone</option>
                <option value="laptop">Laptop</option>
                <option value="tablet">Tablet</option>
                <!-- Add more options as needed -->
            </select><br><br>
            <button type="submit" class="btn" id="submitButton">Add Device</button>
            <button type="button" onclick="addDevice()">Clear</button>
        </form>
    </div>

    <div class="sub-card1">
        <h2>View Devices</h2>
        <p>View the list of devices currently registered in the system:</p>
        <div class="overlay" id="overlay"></div>
        <button onClick="GetAllDevices()">Get All Devices</button><br><br>
        <label for="search">Serch Input:</label>
        <input type="text" id="search_input" name="search_input">
        <button onclick="SearchDevices()">Search</button><br><br>
        <table id='table1' bgcolor='white' border="1">
            <tr><td>Device ID</td><td>Device Name</td><td>Device Condition</td><td>Serial No</td><td>Manufacture Date</td><td>Device Type</td></tr>
        </table>
    </div>

    <div id="popupMessage" class="popup">
        <span id="messageText"></span>
    </div>
</div>

{% endblock %}


