
{% extends 'base-sub.html' %}

{% block header %}
  <h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}
<div class="container">
    <div class="sub-card1">
        <h2 id="formTitle">Add New Device</h2>
        <p>Use the form below to add or update device information:</p>
        <form id="deviceForm" action="/api/add" method="POST">
            <label for="assert_no">Assert Number:</label><br>
            <input type="text" id="assert_no" name="assert_no"><br>
            <label for="device_name">Device Name:</label><br>
            <input type="text" id="device_name" name="device_name" required><br>
            <label for="device_condition">Device Condition:</label><br>
            <select id="device_condition" name="device_condition" required>
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="faulty">Faulty</option>
            </select><br><br>
            <label for="branch_dep_code">Branch Department Code:</label><br>
            <input type="text" id="branch_dep_code" name="branch_dep_code"><br>
            <label for="device_serial">Device Serial Number:</label><br>
            <input type="text" id="device_serial" name="device_serial" required><br>
            <label for="device_firmware">Device Firmware Version:</label><br>
            <input type="text" id="device_firmware" name="device_firmware" required><br>
            <label for="device_MD">Device Manufactured Date:</label><br>
            <input type="date" id="device_MD" name="device_MD" required><br><br>
            <label for="model_no">Device Model Number:</label><br>
            <input type="text" id="model_no" name="model_no"><br>
            <label for="serial_no">Serial Number:</label><br>
            <input type="text" id="serial_no" name="serial_no"><br>
            <label for="operating_system">Operating System:</label><br>
            <input type="text" id="operating_system" name="operating_system"><br>
            <label for="manufacturer">Manufacturer:</label><br>
            <input type="text" id="manufacturer" name="manufacturer"><br>
            <label for="purchase_date">Purchase Date:</label><br>
            <input type="date" id="purchase_date" name="purchase_date" required><br><br>
            <label for="product_id">Product Id:</label><br>
            <input type="text" id="product_id" name="product_id"><br>
                <!-- Add more options as needed -->
            </select><br><br>
            <button type="submit" class="btn" id="submitButton">Add Device</button>
            <button type="button" onclick="addDevice()">Clear</button>
        </form>
    </div>

    <div class="sub-card1" id="deviceContainer">
        <h2>View Devices</h2>
        <p>View the list of devices currently registered in the system:</p>
        <div class="overlay" id="overlay"></div>
        <label for="search">Serch Input:</label>
        <input type="text" id="search_input" name="search_input">
        <button onclick="SearchDevices()">Search</button><br><br>
        <table id='table1' bgcolor='white' border="1">
            <tr><td>Assert Number</td><td>Device Name</td><td>Device Condition</td><td>Device Type</td><td>Serial No</td><td>Device Firmware</td><td>Manufacture Date</td><td>Model Number</td></tr>
        </table>
    </div>

    <div id="popupMessage" class="popup">
        <span id="messageText"></span>
    </div>
</div>

{% endblock %}


